body{
    margin: 0;
    width: 100%;
    font-family:'Poppins', sans-serif; 
}
img{
    width:  80%;
}
#navbar{
    width: 100%;
    border: 0px solid red;
    height: 72px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    position: fixed; top: 0; left: 0; z-index: 9999;
    background-color: whitesmoke;
}

#rs{
    border: 0px solid red;
    display: flex;
    align-items: center;
    width: 32%;
    gap: 20px;
    justify-content: center;
   
}


#logo{
    width: 34%;
}

.ls{
    border: 0px solid red;
    width: 22%;
    display: flex;
    justify-content: space-evenly;
    align-items:center; 
}

 #btn button{
    border: 0;
    font-size: 16px;
    color: gray;
    font-family: Calibri;
 }
 .ls button{
    border: 0;
    font-size: 16px;
    color: gray;
    margin-right: 10px;
    font-family: Calibri;
    
 }
 #GS {
    height: 40px;
    background-color: #6c6cff ;
    color: white;
    border: 0;
    border-radius: 50px;
    width: 31%;
    font-size: 15px;
 }


 /* platfromcss */

 #platform{
    
    width: 100%;
    height: auto;
    margin-top:  72px;
    color: white;
    background-color:  #0f1048 ;
    text-align: center;
     
 }

 #platform>h1{
   
    font-size: 70px;
    font-weight: 300;
    text-size-adjust: 100%;
    font-stretch: 200%;
    padding-top: 60px;
    letter-spacing: 2px;
    line-height: 82px;
    
 }
 #platform>h2{
    font-size: 22.5px;
    margin: 0;
    font-weight: lighter;
    padding-top: 0;
    
 }

 #cbox{
    width: 70%;
    height: 150px;
    border: 0px solid red;
    margin: auto;
    margin-top: 50px;
    display:grid;
    grid-template-columns:repeat(9,130px);
    grid-template-rows: repeat(1,130px);
    background-color: #05063a;
    column-gap: 2px;
    gap: 20px;
    justify-content: center;
     align-items: center; 
    
 }


 #cbox>div{
    background-color: #0f1048 ;
    justify-content: center;
    align-items: center;
    border: 1px solid #535378 ;
    border-radius: 5%;
    width: 100%;
    height: auto;

 }

 #tinyimg{
    width: 40%;
    height: auto;
    border: 0px solid blue;
    margin: auto;
 }
 input[type=checkbox] {
    width: 20px;
    height: 20px;
    accent-color: red;
    background: rgba(40,40,40,0.2);
    color:black;
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid wheat;
    position: relative;
    left: -5px;
    top: -5px;
    
    
 }  

 #cbox-child
 {
   height: auto;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

 #GS2{

    width: 9.5%;
    height: 55px;
    background-color: #6c6cff ;
    color: white;
    border: 0;
    border-radius: 50px;
    margin-top: 50px;
    font-size: 15px;
    background-image: linear-gradient(to bottom right,#5033ff, #b1b0ff);
    
 }
 #box1{
    width: 90%;
    height: 100px;
    border: 2px solid red;
    text-align: center;
    margin-top: 100px;
 }

 /* trusted customer and box */
    #customer{
        text-align: center;
        border: 1px solid red;
        margin: 0;
        font-weight: lighter;
        padding-top: 0;
    }

    #cusbox{
    width: 80%;
    height: 150px;
    border: 0px solid red;
    margin: auto;
    margin-top: 50px;
    display:grid;
    grid-template-columns:repeat(9,130px);
    grid-template-rows: repeat(1,130px);
    justify-content: space-between;
    column-gap: 2px;
    gap: 20px;
    
     align-items: center; 
    }
    
 
 
 

   
 




