body{
    margin: 0;
    width: 100%;
    font-family:'Poppins', sans-serif; 
    
}
img{
    width:  80%;
}
#navbar{
    width: 100%;
    border: 0px solid red;
    height: 72px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    position: fixed; top: 0; left: 0; z-index: 9999;
    background-color: whitesmoke;
}

#rs{
    border: 0px solid red;
    display: flex;
    align-items: center;
    width: 32%;
    gap: 20px;
    justify-content: center;
   
}


#logo{
    width: 34%;
}

.ls{
    border: 0px solid red;
    width: 22%;
    display: flex;
    justify-content: space-evenly;
    align-items:center; 
}

 #btn button{
    border: 0;
    font-size: 16px;
    color: gray;
    font-family: Calibri;
 }
 .ls button{
    border: 0;
    font-size: 16px;
    color: gray;
    margin-right: 10px;
    font-family: Calibri;
    
 }
 #GS:hover{
  background-color:#5759ac  
 }

 #GS {
    height: 40px;
    background-color: #6c6cff ;
    color: white;
    border: 0;
    border-radius: 50px;
    width: 31%;
    font-size: 15px;
 }


 /* platfromcss */

 #platform{
    
    width: 100%;
    height: auto;
    margin-top:  72px;
    color: white;
    background-color:  #0f1048 ;
    text-align: center;
     
 }

 #platform>h1{
   
    font-size: 70px;
    font-weight: 300;
    text-size-adjust: 100%;
    font-stretch: 200%;
    padding-top: 60px;
    letter-spacing: 2px;
    line-height: 82px;
    
 }
 #platform>h2{
    font-size: 22.5px;
    margin: 0;
    font-weight: lighter;
    padding-top: 0;
    
 }

 #cbox{
    width: 70%;
    height: 150px;
    border: 0px solid red;
    margin: auto;
    margin-top: 50px;
    display:grid;
    grid-template-columns:repeat(9,130px);
    grid-template-rows: repeat(1,130px);
    background-color: #0f1048;
    column-gap: 2px;
    gap: 20px;
    justify-content: center;
     align-items: center; 
    
 }


 #cbox>div{
    background-color: #0f1048 ;
    justify-content: center;
    align-items: center;
    border: 1px solid #535378 ;
    border-radius: 5%;
    width: 100%;
    height: auto;

 }

 #tinyimg{
    width: 40%;
    height: auto;
    border: 0px solid blue;
    margin: auto;
 }
 input[type=checkbox] {
    width: 20px;
    height: 20px;
    accent-color: red;
    background: rgba(40,40,40,0.2);
    color:black;
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid wheat;
    position: relative;
    left: -5px;
    top: -5px;
    
 }  

 #cbox-child1
 {
   height: 10px;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

 #cbox>div:nth-child(1):hover{
  border: 1px solid rgb(238, 13, 51) ;
 }

 #cbox>div:nth-child(2):hover{
  border: 1px solid greenyellow ;
 }

 #cbox>div:nth-child(3):hover{
  border: 1px solid rgb(238, 13, 51) ;
 }

 #cbox>div:nth-child(4):hover{
  border: 1px solid rgb(241, 187, 8) ;
 }

 #cbox>div:nth-child(5):hover{
  border: 1px solid aqua ;
 }

 #cbox>div:nth-child(6):hover{
  border: 1px solid blue ;
 }

 #cbox>div:nth-child(7):hover{
  border: 1px solid rgb(245, 124, 12) ;
 }

 #cbox>div:nth-child(8):hover{
  border: 1px solid aqua  ;
 }

 #cbox>div:nth-child(9):hover{
  border: 1px solid blue ;
 }

 #cbox-child2
 {
   height: 10px;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

 #cbox-child3
 {
   height: 10px;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

 #cbox-child4
 {
   height: 10px;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

 #cbox-child5
 {
   height: 10px;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

 #cbox-child6
 {
   height: 10px;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

 #cbox-child6
 {
   height: 10px;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

 #cbox-child7
 {
   height: 10px;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

 #cbox-child8
 {
   height: 10px;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

 #cbox-child9
 {
   height: 10px;
    border: 0px solid red;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #0f1048 ;
 }

#GS2:hover{
  background-image: linear-gradient(to bottom right,#270eb9, #807eeb);
}
 #GS2{

    width: 9.5%;
    height: 55px;
    color: white;
    border: 0;
    border-radius: 50px;
    margin-top: 50px;
    font-size: 15px;
    background-image: linear-gradient(to bottom right,#5033ff, #b1b0ff);
  }
    
    
 
 #box1{
    width: 90%;
    height: 100px;
    border: 0px solid red;
    text-align: center;
    margin-top: 100px;
 }

 /* trusted customer and box */
    #customer{
        text-align: center;
        border: 0px solid red;
        margin: 0;
        font-weight: lighter;
        padding-top: 0;
    }

    #cusbox{
    width: 80%;
    height: 150px;
    border: 0px solid red;
    margin: auto;
    margin-top: 50px;
    display:grid;
    grid-template-columns:repeat(9,130px);
    grid-template-rows: repeat(1,130px);
    justify-content: space-between;
    column-gap: 2px;
    gap: 20px;
    
     align-items: center; 
    }

    #work{
         width: 100%;
         height: 300px;
         border: 0px solid red;
         display: flex;
         margin-top: 100px;
    }

    #work>div:nth-child(1){
      width: 40%;
      height: 250px;
      border: 0px solid blue;
      margin: auto;
      text-align: center;
      font-size: 40px;
      
    }
    #work>div:nth-child(2)
    {
      width: 40%;
      height: 200px;
      border: 0px solid blue;
      margin: auto;
      font-size: 25px;
      
    }

    #work>div:nth-child(2)>#GS2{
      width: 25%;
      
      display: block;
      text-align: center;
    }

    #nine{
      width: 100%;
      height: 800px;
      border: 0px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    #nine *{
      border-radius: 20px ;
      width: 90%;
    }

    #nine>div{
         width: 50%;
         height: 800px;
         border: 0px solid blue;
         display: flex;
         justify-content: right;
         margin: 5px;
    }
    #n-1>#n-1-1{
         width: 60%;
         height: 800px;
         border: 0px solid black;
         margin: 5px;
    }
    #n-1>#n-1-2{
      width: 30%;
      height: 800px;
      border: 0px solid black;
      margin: 5px;
 }

 #n-1-1>div:nth-child(1){
      width: 100%;
      height: 300px;
      border: 0px solid black;
      display: flex;
      margin: 5px;
 }
 #n-1-1>div:nth-child(2){
   width: 100%;
   height: 500px;
   border: 0px solid black;
   margin: 5px;
 }

 #n-1-1-1>div:nth-child(1)
 {
   width: 50%;
   height:300px ;
   border: 0px solid red;
   margin: 5px;
 }
 #n-1-1-1>div:nth-child(2)
 {
   width: 50%;
   height:300px ;
   border: 0px solid red;
   margin: 5px;
 }

 #n-1-1-1-1>div{
   width: 100%;
   height: 150px;
   border: 0px solid black;
   margin: 5px;
 }

 #n-1-1-2>div{
   width: 100%;
   height: 250px;
   border: 0px solid red;
   margin: 5px;
 }

 #n-1-1-2>div:nth-child(2){
   width: 100%;
   height: 200px;
   border: 0px solid green;
   display: flex;
   justify-content: left;
   margin: 5px;
   
 }

 #n-1-1-2>div:nth-child(2)>div{
   width: 50%;
   height: 200px;
   border: 0px solid green;
   
   
   margin: 5px;
   
 }

 #nine>#n-2{
   
   border: 0px solid red;
   flex-direction: column;
 }

 

 #n-2>div:nth-child(1){
      width: 100%;
      height: 200px;
      border: 0px solid rgb(0, 238, 255);
      display: flex;
      
 }
 #n-2>div:nth-child(2){
  width: 100%;
      height: 200px;
      border: 0px solid rgb(0, 238, 255);
      margin-top: 100px;
      
 }




 #scroll
 {
  width: 100%;
  height: 200vh;
  border: 0px solid red;
 }

 .line{
  height: 50%;
  display: flex;
  
 }
 
 .line-right{
  width: 55%;
  height: 100vh;
  border: 0px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0!important;
  background-color: #0f1048;
 }
 .line-left{
  width: 45%;
  border: 0px solid red;
 }
 .line-left div{
  height: 313.2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }

 .line-left div:nth-child(1){
  background-color: #0f1048;
  color: white;
  font-size: 25px;
 }

 .line-left div:nth-child(1)>p{
  margin-top: 1px;
  font-size:17px;
  width: 70%;
 }


 .line-left div:nth-child(2){
  background-color: #0f1048;
  display: flex;
 }


 .line-left div:nth-child(2)>p{
  
  margin-top: 1px;
  font-size:17px;
  width: 70%;
  color: white;
 }

 .line-left div:nth-child(3){
  background-color: #0f1048;
  
 }

 .line-left div:nth-child(3)>h2{
  color: white;
  font-size: 35px;
 }

 .line-left div:nth-child(3)>p{
  
  margin-top: 1px;
  font-size:20px;
  width: 70%;
  color: white;
 }

 .line-left div:nth-child(4){
  background-color: #0f1048;
  
  display: flex;
 }

 
 .line-left div:nth-child(4)>p{
  
  margin-top: 1px;
  font-size:17px;
  width: 70%;
  color: white;
 }

 .line-left div:nth-child(5){
  background-color: #0f1048;
  
  height: auto;
 }

 .line-left div:nth-child(5)>h2{
  color: white;
  font-size: 35px;
 }

 .line-left div:nth-child(5)>p{
  
  margin-top: 1px;
  font-size:20px;
  width: 70%;
  color: white;

 }
 .line-left div:nth-child(5)>#GS3{
  width: 20%;
  height: 55px;
  background-color: #0f1048 ;
  color: white;
  border: 0;
  border-radius: 50px;
  margin-top: 50px;
  font-size: 15px;
  border: 1px solid white;
 }

 .line-left div:nth-child(5)>#GS3:hover{
    border: 2px solid white;
 }
 .line-left div:nth-child(6){
  background-color: #0f1048;
  
  display: flex;
 }

 
 .line-left div:nth-child(6)>p{
  
  margin-top: 1px;
  font-size:17px;
  width: 70%;
  color: white;
 }

 header {
height : 100vh ;
display : flex ;
justify-content : center ;
align-items : center ;


background-color: black ;
color : white ;
 }

 #workflow{
  font-size: 45px;
  text-align: center;
 }
 #workflow>p{
 font-size: large;
 color: rgb(114, 111, 111);
 }


 #seven{
    width: 46%;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: auto;
    margin-top: 50px;
    display:grid;
    grid-template-columns:repeat(7,130px);
    grid-template-rows: repeat(1,130px);
    justify-content: center;
     align-items: center; 
     padding: 0;
     border-radius: 10px;
 }

 #seven>div{
  
  margin: auto;
  width: 100px;
  height: 100px;
  margin-top: 0;
  text-align: center;
  justify-content: center;
  align-items: center; 
  
 }
 #seven>div>img{
  width: 20%;
  padding-top: 20px;
 }

 #seven>div:hover{
  
  color:rgb(102, 152, 228);
  background-image: linear-gradient(to bottom right,rgb(231, 229, 227), rgb(230, 235, 236));
 }

 #team{
  width: 100%;
  height: 600px;
  border: 0px solid red;
  display: flex;
  gap: 100px;
  justify-content: end;
  margin-top: 100px;
 }

 #team>div:nth-child(1){
  width: 40%;
  height: 600px;
  border: 0px solid blue;
  
  
 }
 #team>div:nth-child(2){
  width: 40%;
  height: 600px;
  border: 0px solid blue;
  
  
 }


  #one{
  width: 100%;
  height: 100px;
  border: 0px solid blue;
  display: flex;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
 }

 #one>div:nth-child(1)
 {
  width: 50px;
  height: 20px;
  border: 0px solid red;
  padding: 0;
  
 }

 #one>div:nth-child(2)
 {
  width: 100%;
  height: 80px;
  border: 0px solid red;
  font-size: 24px;
  padding-bottom: 20px;
  color: #9696f7;
  
 }

 #two{
    width: 80%;
    font-size: 20px;
    color: gray;
 }

 #mp{
  width: 15%;
  height: 50px;
  border: 0px solid red;
  margin: auto;
  margin-bottom: 100px;
 }

 #mp>img{
  width: 100%;
 }

 #ete{
  width: 100%;
  height: 200px;
  border: 0px solid red;
  text-align: center;
  font-size: 45px;
 }

 #ete>p{
  font-size: 18px;
  color: gray;
 }

 #m5{
  width: 75%;
  height: 700px;
  border: 0px solid red;
  margin: auto;
  margin-top: 100px;
  display:flex;
  gap: 10px;
  
  
 }
 #m5>div{
  width: 17%;
  height: 550px;
  border: 0px solid red;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
 }
 #m5>div:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }

 #m5-1>div:nth-child(1)
 {
  width: 80%;
  height: 50px;
  border: 0px solid red;
  margin-left: 10px;
  margin-top: 10px;
  
 }
 #m5-1>div:nth-child(2)
 {
  width: 80%;
  height: 50px;
  border: 0px solid red;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
 }

 #m5-1>div:nth-child(3)
 {
  width: 90%;
  height: 100px;
  border: 0px solid red;
  margin: auto;
  margin-top: 10px;
 }

 #m5-1>div:nth-child(4) {
  display:block;
    border:none;
    height:3px;
    background: linear-gradient(to right, rgb(108, 108, 255), rgba(108, 108, 255, 0));
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#m5-1>div:nth-child(5)
{
 width: 90%;
 height: 130px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
 font-size: 15px;
 padding-bottom: 10px;
 line-height: 20px;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
  color: #5033ff;
  font-size: 20px;
}

#m5-1>div:nth-child(6)
{
 width: 90%;
 height: 50px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
}
#m5-1>div:nth-child(6)>button{
  width: 100%;
  height: 45px;
  background-color: white ;
  color: rgb(71, 70, 70);
  border: 0;
  border-radius: 50px;
  font-size: 15px;
  border: 1px solid rgb(71, 70, 70);
}


#m5-1>div:nth-child(7)
{
 width: 90%;
 height: 50px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
 text-align: center;
 font-size: 14px;
 color: gray ;
}


/* m5-2 */
#m5-2>div:nth-child(1)
 {
  width: 80%;
  height: 50px;
  border: 0px solid red;
  margin-left: 10px;
  margin-top: 10px;
  
 }
 #m5-2>div:nth-child(2)
 {
  width: 80%;
  height: 50px;
  border: 0px solid red;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
 }

 #m5-2>div:nth-child(3)
 {
  width: 90%;
  height: 100px;
  border: 0px solid red;
  margin: auto;
  margin-top: 10px;
 }

 #m5-2>div:nth-child(4) {
  display:block;
    border:none;
    height:3px;
    background: linear-gradient(to right, rgb(245, 34, 34), rgba(108, 108, 255, 0));
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#m5-2>div:nth-child(5)
{
 width: 90%;
 height: 130px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
 font-size: 15px;
 padding-bottom: 10px;
 line-height: 20px;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
  color: #5033ff;
  font-size: 20px;
}

#m5-2>div:nth-child(6)
{
 width: 90%;
 height: 50px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
}
#m5-2>div:nth-child(6)>button{
  width: 100%;
  height: 45px;
  background-color: white ;
  color: rgb(71, 70, 70);
  border: 0;
  border-radius: 50px;
  font-size: 15px;
  border: 1px solid rgb(71, 70, 70);
}


#m5-2>div:nth-child(7)
{
 width: 90%;
 height: 50px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
 text-align: center;
 font-size: 14px;
 color: gray ;
}

/* m5-3 */
#m5-3>div:nth-child(1)
 {
  width: 80%;
  height: 50px;
  border: 0px solid red;
  margin-left: 10px;
  margin-top: 10px;
  
 }
 #m5-3>div:nth-child(2)
 {
  width: 80%;
  height: 50px;
  border: 0px solid red;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
 }

 #m5-3>div:nth-child(3)
 {
  width: 90%;
  height: 100px;
  border: 0px solid red;
  margin: auto;
  margin-top: 10px;
 }

 #m5-3>div:nth-child(4) {
  display:block;
    border:none;
    height:3px;
    background: linear-gradient(to right, rgb(21, 207, 240), rgba(108, 108, 255, 0));
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#m5-3>div:nth-child(5)
{
 width: 90%;
 height: 130px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
 font-size: 15px;
 padding-bottom: 10px;
 line-height: 20px;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
  color: #5033ff;
  font-size: 20px;
}

#m5-3>div:nth-child(6)
{
 width: 90%;
 height: 50px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
}
#m5-3>div:nth-child(6)>button{
  width: 100%;
  height: 45px;
  background-color: white ;
  color: rgb(71, 70, 70);
  border: 0;
  border-radius: 50px;
  font-size: 15px;
  border: 1px solid rgb(71, 70, 70);
}


#m5-3>div:nth-child(7)
{
 width: 90%;
 height: 50px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
 text-align: center;
 font-size: 14px;
 color: gray ;
}

/* m5-4 */
#m5-4>div:nth-child(1)
 {
  width: 80%;
  height: 50px;
  border: 0px solid red;
  margin-left: 10px;
  margin-top: 10px;
  
 }
 #m5-4>div:nth-child(2)
 {
  width: 80%;
  height: 50px;
  border: 0px solid red;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
 }

 #m5-4>div:nth-child(3)
 {
  width: 90%;
  height: 100px;
  border: 0px solid red;
  margin: auto;
  margin-top: 10px;
 }

 #m5-4>div:nth-child(4) {
  display:block;
    border:none;
    height:3px;
    background: linear-gradient(to right, rgb(231, 235, 13), rgba(108, 108, 255, 0));
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#m5-4>div:nth-child(5)
{
 width: 90%;
 height: 130px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
 font-size: 15px;
 padding-bottom: 10px;
 line-height: 20px;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
  color: #5033ff;
  font-size: 20px;
}

#m5-4>div:nth-child(6)
{
 width: 90%;
 height: 50px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
}
#m5-4>div:nth-child(6)>button{
  width: 100%;
  height: 45px;
  background-color: white ;
  color: rgb(71, 70, 70);
  border: 0;
  border-radius: 50px;
  font-size: 15px;
  border: 1px solid rgb(71, 70, 70);
}


#m5-4>div:nth-child(7)
{
 width: 90%;
 height: 50px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
 text-align: center;
 font-size: 14px;
 color: gray ;
}

/* m5-5 */
#m5-5>div:nth-child(1)
 {
  width: 80%;
  height: 50px;
  border: 0 solid red;
  margin-left: 10px;
  margin-top: 10px;
  
 }
 #m5-5>div:nth-child(2)
 {
  width: 80%;
  height: 50px;
  border: 0 solid red;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
 }

 #m5-5>div:nth-child(3)
 {
  width: 90%;
  height: 100px;
  border: 0 solid red;
  margin: auto;
  margin-top: 10px;
 }

 #m5-5>div:nth-child(4) {
  display:block;
    border:none;
    height:3px;
    background: linear-gradient(to right, rgb(74, 218, 8), rgba(108, 108, 255, 0));
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#m5-5>div:nth-child(5)
{
 width: 90%;
 height: 130px;
 border: 0 solid red;
 margin: auto;
 margin-top: 10px;
 font-size: 15px;
 padding-bottom: 10px;
 line-height: 20px;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
  color: #5033ff;
  font-size: 20px;
}

#m5-5>div:nth-child(6)
{
 width: 90%;
 height: 50px;
 border: 0 solid red;
 margin: auto;
 margin-top: 10px;
}
#m5-5>div:nth-child(6)>button{
  width: 100%;
  height: 45px;
  background-color: white ;
  color: rgb(71, 70, 70);
  border: 0;
  border-radius: 50px;
  font-size: 15px;
  border: 1px solid rgb(71, 70, 70);
}


#m5-5>div:nth-child(7)
{
 width: 90%;
 height: 50px;
 border: 0px solid red;
 margin: auto;
 margin-top: 10px;
 text-align: center;
 font-size: 14px;
 color: gray ;
}

#fimg{
  width: 100%;
  height: auto;
  border: 0px solid red;
  
}

#sup{
  width: 100%;
  height: 500px ;
  border: 0px solid red;
  display: flex;
  margin-top: 150px;
  
}

#sup>div{
  width: 50%;
  height: 500px ;
  border: 0px solid red;
}

#sup>#sup-box1{
  display:flex;
  justify-content: right;
  width: 45%;
}
#sup>#sup-box1>div
{
  
  width: 75%;
  height: 450px;
  display:flex;
  justify-content: right;
  margin: auto;
  border: 0px solid red;

}
#sup-box2>div{
  margin-bottom: 20px;
  margin-top: 20px;
}


#sup-box2-1{
  width: 70%;
  height: 100px;
  border: 0px solid red;
  font-size: 35px;
}

#sup-box2-2{
  width: 70%;
  height: 100px;
  border: 0px solid red;
  font-size: 18px;
}

#sup-box2-3{
  width: 70%;
  height: 100px;
  border: 0px solid red;
  display: flex;
}
#sup-box2-3>div{
  width: 40%;
  height: 100px;
  border: 0px solid red;
  display: flex ;
}
#sup-box2-3>div>div{
  width: 100%;
  height: 100px;
  border: 0px solid blue;
  margin-left: 10px;
}

#sup-box2-4{
  width: 50%;
  height: 100px;
  border: 0px solid red;
  display: flex;
}

#sup-box2-4>div{
  width: 50%;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
#sup-box2-4>div>button{
    height: 40px;
    background-color: #6c6cff ;
    color: white;
    border: 0;
    border-radius: 50px;
    width: 80%;
    font-size: 15px;
}
#sup-box2-4>div>button:hover{
  background-color:#5759ac  
}
#Fivestar{
  width: 100%;
  height: 160px;
  border: 0px solid red;
  margin-top: 100px;
}

#Fivestar>div:nth-child(1){
    width: 11%;
    height: auto;
    border: 0px solid red;
    margin: auto;
    margin-bottom: 30px;
}


 #Fivestar>div:nth-child(1)>img{
  width: 100%;
  border: 0px solid red;
 }


 #Fivestar>div:nth-child(2){
  width: 60%;
  height: 50px;
  border: 0px solid red;
  margin: auto;
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}
#Fivestar>div:nth-child(3){
  width: 60%;
  height: 50px;
  border: 0px solid red;
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: gray;
} 
 
#fourbox{
    width: 65%;
    height: 300px;
    border: 0px solid red;
    margin-top: 50px;
    display: flex;
    margin-left: 20%;
    padding-top: 50px;
    
}
 #fourbox>div{
    width: 25%;
    height: 300px;
    margin: auto;
    border: 0px solid red;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }

 #fourbox>div:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
 }

#fb-1>div{
    width: 90%;
    height: 90px;
    border: 0px solid red;
    margin: auto;
    
}

#fb-1>div>img{
  width: 35%;
  height: 90px;
  border: 0px solid red;
  margin-left: 32%;
 
}
#fb-1>div:nth-child(2){
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#fb-1>div:nth-child(3){
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
}
 

 



#fb-2>div{
  width: 90%;
  height: 90px;
  border: 0px solid red;
  margin: auto;
  
}

#fb-2>div:nth-child(1){
width: 80%;
height: 90px;
border: 0px solid red;
margin: auto;
margin-bottom: 10px;
}
#fb-2>div:nth-child(1)>img{
  width: 100%;
}
#fb-2>div:nth-child(2){
text-align: center;
font-size: 20px;
margin-bottom: 10px;
}

#fb-2>div:nth-child(3){
text-align: center;
font-size: 17px;
margin-bottom: 10px;
}


/* ....... */

#fb-3>div{
  width: 90%;
  height: 90px;
  border: 0px solid red;
  margin: auto;

}

#fb-3>div:nth-child(1){
width: 33%;
height: 90px;
border: 0px solid red;
margin: auto;
margin-bottom: 10px;
}
#fb-3>div:nth-child(1)>img{
  width: 100%;
}
#fb-3>div:nth-child(2){
text-align: center;
font-size: 20px;
margin-bottom: 10px;
}

#fb-3>div:nth-child(3){
text-align: center;
font-size: 17px;
margin-bottom: 10px;
}


/* ........
    */
 
    #fb-4>div{
      width: 90%;
      height: 90px;
      border: 0px solid red;
      margin: auto;
    
    }
    
    #fb-4>div:nth-child(1){
    width: 28%;
    height: 90px;
    border: 0px solid red;
    margin: auto;
    margin-bottom: 10px;
    }
    #fb-4>div:nth-child(1)>img{
      width: 100%;
    }
    #fb-4>div:nth-child(2){
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    }
    
    #fb-4>div:nth-child(3){
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
    }

    #deliver{
      width: 100%;
      height: 400px;
      border: 0px solid red;
      background-color: #0f1048;
      padding-top: 100px;
    }
    #deliver>div{
      width: 80%;
      height: 50px;
      border: 0px solid white;
      margin: auto;
      color: white;
      text-align: center;
      
    }

    #deliver>div:nth-child(1){
      font-size: 30px;
      margin-top: 30px;
    }
    #deliver>div:nth-child(2){
      font-size: 18px;
      
    }
    #deliver>div:nth-child(3){
      font-size: 25px;
      width: 30%;
    }
    #deliver>div:nth-child(3)>button{
      height: 50px;
    }

    #lists{
      width: 75%;
      height: 500px;
      box-shadow: rgba(152, 152, 155, 0.61) 0px 1px 0px;
      margin: auto;
      display: flex;
      margin-bottom: 20px;
    }
    #lists>div{
      width: 20%;
      height: 500px ;
      border: 0px solid red;
      margin: auto;
      margin-left: 20px;
    }
    #lists>#lists-1>p{
      font-size: 12px;
      margin-bottom: 20px;
    }
    #lists>#lists-2>p{
      font-size: 12.5px;
      margin-bottom: 20px;
    }
    #lists>#lists-4>p{
      font-size: 12.5px;
      margin-bottom: 20px;
    }
    #lists>#lists-5>p{
      font-size: 12.5px;
      margin-bottom: 20px;
    }
    #lists>#lists-6>p{
      font-size: 12.5px;
      margin-bottom: 20px;
    }


    #lists>#lists-3>div{
      display: flex;
      border: 0px solid red;
      height: 40px;
      font-size: 12.5px;
    }
    #lists>#lists-3>div>div{
      width: 10%;
      height: 20px;
      border: 0px solid red;
      margin-top: 11px;
    }

    #lists>div *:hover{
      color: #136aec;
    }


    #footer{
      width: 75%;
      height: 200px;
      border: 0px solid red;
      margin:auto;
    }

    #footer>div{
      width: 100%;
      height: 100px;
      border: 0px solid red;
      display: flex;
      justify-content: space-between;
    }
    #footer>div:nth-child(2) *:hover{
      color: #136aec;
      
    }

    
    #foot-1>div:nth-child(1){
      width: 40%;
      height: 100%;
      border: 0px solid red;
      display: flex;
    }
    

    #foot-1>div:nth-child(2){
      width: 30%;
      height: 100%;
      border: 0px solid red;
      display: flex;
    }
    #foot-1>div:nth-child(1)>div{
      width: 30%;
      height: 100%;
      border: 0px solid red;
    }
    #foot-1>div:nth-child(1)>div:nth-child(2){
      width: 50%;
      font-size: 20px;
      padding-top: 10px;
      height: auto;
    }

    #foot-1>div:nth-child(2)>div{
      width: 50%;
      height: 100px;
      border: 0px solid red;
    }

    #foot-2>div:nth-child(1){
      width: 60%;
      height: 100px;
      border: 0px solid red;
      display: flex;
      justify-content: space-between;
    }
    #foot-2>div:nth-child(2){
      width: 20%;
      height: 100px;
      border: 0px solid red;
      
    }
    #foot-2>div:nth-child(1)>div:nth-child(1){
      width: 20%;
      height: 100px;
      border: 0px solid red;
      display: flex;
      margin-left: 10px;
    }
    #foot-2>div:nth-child(1)>div:nth-child(2){
      width: 80%;
      height: 100px;
      border: 0px solid red;
      color: gray;
      font-size: 14px;
    }
    
    a:link {
      color: gray;
      font-size: 14px;
      
    }

    .dropbtn {
      background-color: white;
      
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    
    .dropup {
      position: relative;
      display: inline-block;
    }
    
    .dropup-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      bottom: 50px;
      z-index: 1;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
    
    .dropup-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropup-content a:hover {background-color: #ccc}
    
    .dropup:hover .dropup-content {
      display: block;
    }
    
    .dropup:hover .dropbtn {
      background-color: #2980B9;
    }
